nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: #1f2028 solid 2px;
    padding: 1rem 0;

    .brand {
        margin-bottom: 2rem;
    }

    .nav-links * {
        margin: 2rem;
        padding: 0.5rem 1rem;
        list-style: none;
        text-decoration: none;
        background: #2e303a;
        border-radius: 0.5rem;
        color: #fff;
    }
}